* {
  /* transition-duration: 0.2s !important;
  transition-timing-function: ease-in-out !important;
  transition-property: color, background-color, border-color, transform,
    box-shadow !important; */
}

.body {
  background: var(--white);
}

.radius {
  border-radius: var(--radius);
}
